CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
.out
cmake-build-debug
xhttp_c
xhttp_s
test_c
tests
.cmake
.idea
Testing/*
build/